@use "colors" as *;
@use "variables" as *;

h1 {
  color: $grey-100;
  font-size: $font-size-3xl;
  font-weight: bold;
  line-height: normal;
}

h2 {
  color: $grey-100;
  font-size: $font-size-2xl;
}

h3 {
  color: $grey-100;
  font-size: $font-size-xl;
}

h4 {
  color: $grey-100;
  font-size: $font-size-lg;
}

p {
  color: $grey-100;
  font-size: $font-size-base;
  line-height: 1.6;
}

small {
  color: $grey-80;
  font-size: $font-size-sm;
}

label {
  color: $grey-100;
  display: block;
  font-size: $font-size-sm;
  font-weight: 500;
  margin-bottom: $spacing-xs;
}
