@use "colors" as *;
@use "variables" as *;

h1 {
  font-size: $font-size-3xl;
  color: $grey-100;
}

h2 {
  font-size: $font-size-2xl;
  color: $grey-100;
}

h3 {
  font-size: $font-size-xl;
  color: $grey-100;
}

h4 {
  font-size: $font-size-lg;
  color: $grey-100;
}

p {
  font-size: $font-size-base;
  color: $grey-100;
  line-height: 1.6;
}

small {
  font-size: $font-size-sm;
  color: $grey-80;
}

label {
  display: block;
  margin-bottom: $spacing-xs;
  font-weight: 500;
  font-size: $font-size-sm;
  color: $grey-100;
}
